<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="/static/js/qs.js"></script>
<title>Q# PlayGround</title>
</head>
<body>
<div id="CreateProject">
  <input type="text" id="NewProjectName">
  <input type="button" value="create" onClick="createProject(document.getElementById('NewProjectName').value);getDriverCode(document.getElementById('NewProjectName').value);getOperationsCode(document.getElementById('NewProjectName').value);document.getElementById('NewProjectName').value = '';getProjectList();">
</div>
<div id="ProjectList"></div>
<div id="RunProject">
  <div id="Driver">Driver</div>
  <div id="Operations">Operations</div>
  <div id="BuildButton">Bulid</div>
</div>
</body>
<script type="text/javascript">
getProjectList();
</script>
</html>
