<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="/static/js/qs.js"></script>
<title>Q# PlayGround</title>
</head>
<body>
<div id="CreateProject">
  <input type="text" id="NewProjectName">
  <input type="button" value="create" onClick="currentProjectName = document.getElementById('NewProjectName').value; createProject(currentProjectName);getDriverCode(currentProjectName);getOperationsCode(currentProjectName);document.getElementById('NewProjectName').value = '';getProjectList();document.getElementById('BuildConsole').innerHTML='';">
</div>
<div id="ProjectList"></div>
<div id="RunProject">
  <div id="DriverSource"><textarea id="Driver" cols="50" rows="15"></textarea></div>
  <div id="OperationsSource"><textarea id="Operations" cols="50" rows="15"></textarea></div>
  <div id="BuildButton">
    <input type="button" value="build" onClick="buildCode(currentProjectName);document.getElementById('RunButton').disabled=false;">
  </div>
  <div id="RunButton" disabled=true>
    <input type="button" value="run" onClick="buildCode(currentProjectName);">
  </div>
</div>
<div id="BuildConsole"></div>
</body>
<script type="text/javascript">
var currentProjectName = "";
getProjectList();
</script>
</html>
